{% extends "withnav_template.html" %}
{% from "components/radios.html" import radios %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/radios/macro.njk" import govukRadios %}

{% block service_page_title %}
  {{sender_context['title']}}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(
    sender_context.title,
    back_link=url_for('.view_template', service_id=current_service.id, template_id=template_id)
  ) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {% call form_wrapper() %}
        {% set items = wtforms_option_fields_to_govuk_items(form.sender) %}
        {% for item in items %}
          {% if option_hints[item["value"]] %}
            {% set _ = item.update({ "hint": { "text": option_hints[item["value"]] } }) %}
          {% endif %}
        {% endfor %}
        {{ govukRadios({
          "name": form.sender.name,
          "fieldset": {
            "legend": {
              "text": form.sender.label.text,
              "classes": "govuk-visually-hidden"
            }
          },
          "items": items
        }) }}
        {{ page_footer('Continue') }}
      {% endcall %}
    </div>
  </div>

{% endblock %}
