{% extends "withnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/radios.html" import radios %}
{% from "components/radios/macro.njk" import govukRadios %}

{% block service_page_title %}
  Data retention
{% endblock %}

{% block maincolumn_content %}

    {{ page_header(
      'Set data retention',
      back_link=url_for('.add_data_retention', service_id=current_service.id)
    ) }}

    {% call form_wrapper() %}
      {{ govukRadios({
        "name": form.notification_type.name,
        "fieldset": {
          "legend": {
            "text": form.notification_type.label.text
          }
        },
        "items": wtforms_option_fields_to_govuk_items(form.notification_type)
      }) }}
      {{ textbox(form.days_of_retention) }}
      {{ page_footer('Add') }}
    {% endcall %}

{% endblock %}
