{% extends "withnav_template.html" %}
{% from "components/radios.html" import radios %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/radios/macro.njk" import govukRadios %}
{% from "components/back-link/macro.njk" import govukBackLink %}

{% block service_page_title %}
  {{ title }}
{% endblock %}

{% block maincolumn_content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-five-sixths">
      {{ govukBackLink({
        text: "Back",
        href: url_for('.service_settings', service_id=current_service.id)
      }) }}
      {% call form_wrapper() %}
        {{ govukRadios({
          "name": form.enabled.name,
          "fieldset": {
            "classes": "govuk-!-margin-top-3",
            "legend": {
              "text": form.enabled.label.text,
              "isPageHeading": True,
              "classes": "govuk-fieldset__legend--l"
            }
          },
          "items": wtforms_option_fields_to_govuk_items(form.enabled)
        }) }}
        {{ page_footer('Save') }}
      {% endcall %}
    </div>
  </div>

{% endblock %}
