{% from "components/radios.html" import radios %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/page-header.html" import page_header %}
{% from "components/form.html" import form_wrapper %}
{% from "components/radios/macro.njk" import govukRadios %}

{% extends "org_template.html" %}

{% block org_page_title %}
  Data sharing and financial agreement
{% endblock %}

{% block maincolumn_content %}
  {{ page_header(
    "Data sharing and financial agreement",
    back_link=url_for('.organisation_settings', org_id=current_org.id)
  ) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-five-sixths">
      {% call form_wrapper() %}
        {% set items = wtforms_option_fields_to_govuk_items(form.agreement_signed) %}
        {% set hints = {
            "yes": "Users will be told their organisation has already signed the agreement",
            "no": "Users will be prompted to sign the agreement before they can go live",
            "unknown": "Users will not be prompted to sign the agreement"
          }
        %}
        {% for item in items %}
          {% set _ = item.update({ "hint": { "text": hints[item.value] } }) %}
        {% endfor %}
        {{ govukRadios({
          "name": form.agreement_signed.name,
          "fieldset": {
            "legend": {
              "text": form.agreement_signed.label.text
            }
          },
          "errorMessage": {
            "text": form.agreement_signed.errors[0]
          } if form.agreement_signed.errors else False,
          "items": items
        }) }}
        {{ page_footer('Save') }}
      {% endcall %}
    </div>
  </div>
{% endblock %}
